@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair:wght@300;400;500;600;700&display=swap');


/* font-family: 'EB Garamond', serif;
font-family: 'Playfair', serif; */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Playfair', serif;
}

.header{
    width: 100%;
    min-height: 100vh;
    background-image:url(images/coffee\ 1.jpg);
    background-position: center;
    background-size: cover;
}

nav{
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 5%;
    background-color: #fff;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.logo{
    width: 200px;
    cursor: pointer;
}

.nav-list li{
    list-style: none;
    display: inline-block;
    padding: 10px 20px;
}

.nav-list li a{
    text-decoration: none;
    color: #333;
    font-size: 20px;
    font-family: 'playfair', serif;
    background-color: #fff;
    border-radius: 10px;
}

.nav-list li a:hover{
    background-color: #333;
    color: #fff;
    border-radius: 20px;
    transition: 1.5s;
    padding: 5px;
}

.order-btn{
    text-decoration: none;
    list-style: none;
    color: #333;
    font-size: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    padding: 5px;
    border-radius: 20px;
    position: sticky;
}

.order-btn:hover{
    box-shadow: -2px -2px 5px rgba(0, 0, 0, 0.3);
}

.btn{
    text-decoration: none;
    list-style: none;
    color: #333;
    font-size: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    padding: 5px;
    border-radius: 20px;
}

.btn:hover{
    box-shadow: -2px -2px 5px rgba(0, 0, 0, 0.3);
}

.container{
    padding: 15%;
}

.container .text-1{
    font-size: 32px;
    text-align: center;
}

.container h1{
    text-align: center;
    font-size: 70px;
    color: #000;
}

.container .text-2{
    font-size: 24px;
    text-align: center;
    font-family: 'EB Garamond', serif;
    color: black;
}





.container-x{
    padding: 50px 7%;
}

.container-x h2{
    font-size: 40px;
    padding-bottom: 10px;
    color: #000;
    text-align: center;
}

.container-x .menu-p{
    padding-left: 20px;
    text-align: center;
    padding-bottom: 10px;
    font-size: 25px;
    font-family: 'EB Garamond', serif;
}

.menu-list{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

.menu-list div img{
    width: 50%;
    border-radius: 10px;
}

.menu-list div img:hover{
    transform: scale(1.05);
    transition: 2s;
}

.menu-list .first{
    font-size: 25px;
}

.menu-list h3{
    font-size: 30px;
}

.menu-list .second{
    padding-bottom: 15px;
    font-family: 'EB Garamond', serif;

}

nav .fa-bars{
    display: none;
}

.line{
    margin-top: 40px;
    margin-bottom: 30px;
}

 





/* .container-y{
   padding: 3px;
} */

.container-y h2{
    font-size: 40px;
    padding-bottom: 10px;
    color: #000;
    text-align: center;
    padding-top: 0;
}

.container-y .list-p{
    padding-left: 22px;
    text-align: center;
    padding-bottom: 10px;
    font-size: 25px;
    font-family: 'EB Garamond', serif;
}


.container-y ul li{
    list-style: none;
    text-align: center;
    font-size: 20px;
    font-family: 'EB Garamond', serif;
    padding-bottom: 5px;
    margin-bottom: 5px;
}



.container-y ul{
    margin-bottom: 40px;
}

.line-y{
    margin-top: 40px;
    margin-bottom: 30px;
}



/* .container-z{
    /* padding: 50px 7%; */

.container-z .footer{
    text-align: center;
    background-color: #f2f2f2;
}
/* #f8f8f8 */
.footer h2{
    font-size: 40px;

}

.footer p{
    font-size: 20px;
    font-family: 'EB Garamond', serif;

}

.icons{
    padding-top: 10px;
    padding-bottom: 10px;
}

.icons a{
    color: #727272;
    font-size: 25px;
    padding-left: 20px;
}

.icons a:hover{
    color: black;
    transform: rotate(-90deg);
}

.footer iframe{
    border-radius: 15px;
    /* border: solid 50px #fff; */
}

.copyright{
    background-color: #888;
    padding: 12px 3%;
}

.copyright p{
    font-size: 17px;
    color: #fff;
}








@media only screen and (max-width: 700px){


    body{
        width: 100%;
    }

    .logo{
        position: fixed;
        top: 4%;
        left: 3%;
    }

    nav{
        position: fixed;
        top: 0;
        z-index: 100;
        display: inline-block;
        width: 100%;
        padding: 100px 3% 0;
        text-align: right;
        max-height: 100px;
        overflow: hidden;
        transition: max-height 0.3s;
    }

    nav .nav-list li{
        margin: 10px 0;
        display: block;
    }

    .order-btn{
        background-color: #333;
        margin: 15px 0 30px;
        display: inline-block;
        color: #fff;
    }

    nav .fa-bars{
        display: block;
        position: fixed;
        top: 8%;
        left: 3%;
        padding-left: 85%;
        font-size: 25px;
    }

    .hidemenu{
        max-height: 500px;
    }







    .header .text-1{
        padding-top: 90px;
        font-size: 27px;
    }

    .container h1{
        text-align: center;
        font-size: 50px;
    }

    .container .text-2{
        font-size: 20px;
    }


    .container-x{
        padding: 15%;
        
    }

    .container-x h2{
        padding-bottom: 0px;
    }

    .container-x .menu-p{
        font-size: 25px;
    }
    
    .menu-list{
        display: block;
        /* padding-left: 50px; */
    }

    .menu-list div{
        padding-bottom: 50px;
        align-items: center;
    }

    .menu-list div img{
        width: 90%;
        border-radius: 10px;
    }







    /* .container-z{
        padding: 15%;
    } */

    .container-z p{
        font-size: 15px;
        padding: 3%;
    }

    .footer iframe{
        width: 90%;
        height: 100%;
    }

    .copyright{
        padding: 1px;
    }
}


    